# 4.6 Combining and Exporting data
### This script contains the following points:
#### Q1. Merge of prepared Instacart orders and orders_products_prior dataframe
#### a.Importing libraries & creating a data path
#### b.Importing data
#### c.Checking shape and head of dfs
#### d.Consistency check df_ords_prior: describe, missing, and duplicates
#### E.Create new df and merge data
#### Q2. Exporting the merged file

# Q1

In [1]:
#Merge your prepared Instacart orders data with the new orders_products_prior dataframe

In [2]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [3]:
#create data path
path = r'C:\Users\fa_an\OneDrive\CareerFoundry\Tasks\Data Analytics Immersion\Tasks 4.1-4.10\02_2024 Instacart Basket Analysis'

In [4]:
#Import df_ords_prior
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [5]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_ords_prior.shape

(32434489, 4)

In [7]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [8]:
df_ords_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [9]:
#check for mixed data type in df_ords_prior
for col in df_ords_prior.columns.tolist():
  weird = (df_ords_prior[[col]].map(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords_prior[weird]) > 0:
    print (col)
else:
    print('Everything is a-ok!')

Everything is a-ok!

In [10]:
#check for missing values in df_ords_prior
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [11]:
#check for duplicates in df_ords_prior
df_dups = df_ords_prior[df_ords_prior.duplicated()]

In [12]:
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [13]:
#import df_ords (prepared version - orders_checked)
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [14]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_or_repeat_order
0,0,0,2539329,1,prior,1,2,8,NaN,First Order
1,1,1,2398795,1,prior,2,3,7,15.0,Repeat Order
2,2,2,473747,1,prior,3,3,12,21.0,Repeat Order
3,3,3,2254736,1,prior,4,4,7,29.0,Repeat Order
4,4,4,431534,1,prior,5,4,15,28.0,Repeat Order

In [15]:
df_ords.shape

(3421083, 10)

In [16]:
#create new df and merge df_ords_prior with df_ords
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [17]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_or_repeat_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,First Order,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,First Order,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,First Order,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,First Order,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,First Order,26405,5,0,both

In [18]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

# Q2

In [19]:
#Export the merged file in pickle format as “orders_products_combined.pkl”.
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))