## 4.6b Combining and Exporting data

### This script contains the following points:
#### Q3. Import libraries and data file: orders_products_combined.pk
#### Q4.Check the shape of imported df_ords_prods
#### a. Drop the _merge and unnamed columns from df_ords_prods (prev forgot to drop the index_col=False clause)
#### b. Recheck head and shape
#### Q5. Combine/merge the orders_products_combined and products_checked data sets
#### a. import df_prods
#### b. check df_prods head and shape
#### c. merge datasets
#### d.  check head and shape of new df_merged_ords_prods set
#### Q6.Confirm the results of the merge using merge flag
#### Q7. Export the newly created dataframe as ords_prods_merge as a pkl file

# Q3

In [1]:
#In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [2]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [3]:
#create data path
path = r'C:\Users\fa_an\OneDrive\CareerFoundry\Tasks\Data Analytics Immersion\Tasks 4.1-4.10\02_2024 Instacart Basket Analysis'

In [4]:
#import df_ords_prods (prepared data - order_products_combined.pkl)
df_ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

# Q4

In [5]:
#Check the shape of the imported dataframe (it should be the same as the one you exportedâ€”always check!).
df_ords_prods.shape

(32434489, 14)

In [6]:
df_ords_prods.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_or_repeat_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,First Order,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,First Order,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,First Order,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,First Order,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,First Order,26405,5,0,both

In [7]:
# Drop the _merge column after importing df_ords_prods
df_ords_prods.drop('_merge', axis=1, inplace=True)

In [8]:
# Drop unnamed columns
df_ords_prods = df_ords_prods.loc[:, ~df_ords_prods.columns.str.contains('^Unnamed')]

In [9]:
df_ords_prods.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_or_repeat_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,First Order,196,1,0
1,2539329,1,prior,1,2,8,NaN,First Order,14084,2,0
2,2539329,1,prior,1,2,8,NaN,First Order,12427,3,0
3,2539329,1,prior,1,2,8,NaN,First Order,26088,4,0
4,2539329,1,prior,1,2,8,NaN,First Order,26405,5,0

# Q5

In [10]:
#Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [11]:
#import df_prods (prepared data - products_checked.csv)
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = 0)

In [12]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [13]:
df_prods.shape

(49672, 5)

In [14]:
#merge df_ords_prods and df_prods (without overwriting)
df_merged_ords_prods = df_ords_prods.merge(df_prods, on = 'product_id', indicator = True)

In [15]:
df_merged_ords_prods.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_or_repeat_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,First Order,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,Repeat Order,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,Repeat Order,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,Repeat Order,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,Repeat Order,196,1,1,Soda,77,7,9.0,both

# Q6

In [16]:
#Confirm the results of the merge using the merge flag.
df_merged_ords_prods['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

# Q7

In [17]:
#Export the newly created dataframe as ords_prods_merge in a suitable format (pkl)
df_merged_ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))